<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <h1>Bienvenido a la Pagina principal</h1>
    <a href="/login">Login</a>
    <a href="/registro">Registro</a>
    <p>
        Si eres estudiante, haz click <a href="/registro-estudiante">aquí</a>
    </p>
    <p>
        Si eres profesor, haz click <a href="/registro-profesor">aquí</a>
    </p>
    <p>
        Si eres administrador, haz click <a href="registro-administrador.html">aquí</a>
    </p>

</body>

</html>