{%load static%}
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>
    <div class="container">

        <div class="card">

            <div class="card-header">
                <form>
                    <center>
                        <h1>Registro de Proyecto</h1>
                    </center>
                    <br>

                    <div class="ciclos">
                        <legend>Seleccione el ciclo al que pertenece su proyecto integrador,(Recuerde que su ciclo va
                            acorde
                            al semestre donde haya mayor numero de número de integrantes).<br>
                            Ciclo 1 (1 a 3 semestre); Ciclo 2 (4 a 6 semestre); Ciclo 3 (7 a 9 semestre)</legend>
                        <div class="form-group">
                            <input type="radio" name="preg1" value="1" /> Ciclo I</>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="preg1" value="2" /> Ciclo II</>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="preg1" value="2" /> Ciclo III</>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="user">Nombre del proyecto integrador tal cual aparece en el documento que va a
                                subir</label>
                            <input type="text" placeholder="Nombre del Proyecto" name="nombrep" id="nombrep"
                                class="form-control">
                        </div>
                        <br>
                        <br>
                        <label for="Documento">Cargue su documento en formato PDF</label>
                        <br>
                        <input type="file">
                        <button onclick="return confirm('¿Esta seguro de eliminar este documento?')" href="">Eliminar
                            archivo</button>
                        <br>
                        <br>
                        <label for="Documento">Cargue los anexos de su proyecto en formato PDF</label>
                        <br>
                        <input type="file">
                        <button onclick="return confirm('¿Esta seguro de eliminar este anexo?')" href="">Eliminar
                            archivo</button>
                        <br>
                        <br>
                        <button onclick="return confirm('¿Esta seguro de enviar este proyecto?')" type="submit">Enviar
                            proyecto</button>
                        <br>
                        <a onclick="" href="/registroGrupo"><i class="bi bi-arrow-bar-left"></i></a>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>>