{%load static%}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">
</head>

<body>
    <nav class="nav navbar navbar-expand-lg sticky-top">
        <div class="container-fluid float-end"> 
            <a class="navbar-brand" href="#" style="color: white;">
                <img src="http://cdn.onlinewebfonts.com/svg/img_140098.png" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                Registro Grupo de Investigación
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a onclick="return confirm('¿Esta seguro de salir?')" style="color: white;"
                            class="nav-link active bt-login" href="/perfilEstudiante"><i
                                class="bi bi-door-open"></i>Salir</a>
                    </li>
                </ul>
            </div>
    </nav>

    <div class="container">
        <div class="card">
            <div class="card-header">

                <form>
                    <center>
                        <h1>Registro Grupo de Investigación</h1>
                    </center>
                    <br>
                    <legend>¿Cuantos intregrantes conforman su grupo de trabajo?</legend>

                    <div class="ciclos">
                        <input type="radio" name="resp1" value="1" /> 1 </>
                        <input type="radio" name="resp1" value="2" /> 2 </>
                        <input type="radio" name="resp1" value="2" /> 3 </>
                    </div>

                    <br>
                    <br>

                    <h3>Primer Integrante</h3>
                    <div class="form-group">
                        <label for="user">Nombres</label>
                        <input type="text" placeholder="Nombres" name="nombres1" id="nombres1" class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="user">Apellidos</label>
                        <input type="text" placeholder="Apellidos" name="apellidos1" id="apellidos1"
                            class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="user">Correo Institucional</label>
                        <input type="text" placeholder="Correo institucional" name="email1" id="email1"
                            class="form-control">
                    </div>

                    <br>
                    <br>

                    <h3>Segundo Integrante</h3>
                    <div class="form-group">
                        <label for="user">Nombres</label>
                        <input type="text" placeholder="Nombres" name="nombres2" id="nombres2" class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="user">Apellidos</label>
                        <input type="text" placeholder="Apellidos" name="apellidos2" id="apellidos2"
                            class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="user">Correo Institucional</label>
                        <input type="text" placeholder="Correo institucional" name="email2" id="email2"
                            class="form-control">
                    </div>
                    <br>
                    <br>

                    <h3>Tercer Integrante</h3>
                    <div class="form-group">
                        <label for="user">Nombres</label>
                        <input type="text" placeholder="Nombres" name="nombres3" id="nombres3" class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="user">Apellidos</label>
                        <input type="text" placeholder="Apellidos" name="apellidos3" id="apellidos3"
                            class="form-control">
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="user">Correo Institucional</label>
                        <input type="text" placeholder="Correo institucional" name="email3" id="email3"
                            class="form-control">
                    </div>
                    <br>
                    <a onclick="" class="bi bi-chevron-double-right" href="/registroProyecto"> Registro Proyecto</a>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>